.iidentity-faction-enlightened {
    color: green;
}

.iidentity-faction-resistance {
    color: blue;
}

.iidentity-faction-error {
    color: red;
}

.iidentity-faction-unknown {
    color: #222;
}

.iidentity-wrapper {
    padding: 4px 8px 10px;
}

.iidentity-wrapper > .iidentity-name {
    font-size: 24px;
}

.iidentity-wrapper > .iidentity-extra {
    font-size: 18px;
}

a + span.iidentity-spacer {
    margin-left: .4em;
}

div + span.iidentity-spacer + wbr + .iidentity-iwrapper {
    display: block;
    margin-top: -3px;
    margin-bottom: 3px;
}

.iidentity-iwrapper {
    margin-right: .4em;
}

.iidentity-iwrapper > span {
    white-space: nowrap;
}

.iidentity-wrapper > .iidentity-extra > span ~ span,
.iidentity-iwrapper > span ~ span {
    padding-left:  .2em;
}

.iidentity-wrapper > .iidentity-extra > span + span::before,
.iidentity-iwrapper > span + span::before {
    content: '//';
    padding-right: .2em;
    color: #777;
}

.iidentity-ciwrapper {
    white-space: nowrap;
}

.iidentity-ciwrapper::before {
    content: '[';
    padding-right: .2ex;
    color: #777;
}

.iidentity-ciwrapper::after {
    content: ']';
    padding-left: .2ex;
    color: #777;
}

.iidentity-level0 {
    color: #202020;
}
.iidentity-level1 {
    color: #FECE5A;
}
.iidentity-level2 {
    color: #FFA630;
}
.iidentity-level3 {
    color: #FF7315;
}
.iidentity-level4 {
    color: #E40000;
}
.iidentity-level5 {
    color: #FD2992;
}
.iidentity-level6 {
    color: #EB26CD;
}
.iidentity-level7 {
    color: #C124E0;
}
.iidentity-level8 {
    color: #9627F4;
}
.iidentity-level9 {
    color: #9627F4;
}
.iidentity-level10 {
    color: #9627F4;
}
.iidentity-level11 {
    color: #9627F4;
}
.iidentity-level12 {
    color: #9627F4;
}
.iidentity-level13 {
    color: #9627F4;
}
.iidentity-level14 {
    color: #9627F4;
}
.iidentity-level15 {
    color: #9627F4;
}
.iidentity-level16 {
    color: #9627F4;
}

.iidentity-anomalies {
    display: inline;
    position: relative;
}

.iidentity-anomaly {
    width: auto;
    height: .8em;

    margin-bottom: auto;
    margin-top: auto;
    margin-left: .4ex;
}

.iidentity-group a,
.iidentity-custom-extratag > span {
    color: #777;
    white-space: nowrap;
}

.iidentity-custom-extratag > b {
    padding-right: 1ex;
}

.iidentity-group > div {
    overflow-x: hidden;
    -webkit-mask: linear-gradient(
        to right,
        rgba(255,255,255,1),
        rgba(255,255,255,1) 90%,
        rgba(255,255,255,0)
    );
}

.iidentity-profile .fIa:first-child {
    padding-left: 0px;
}

.iidentity-profile-wrapper.iidentity-faction-enlightened {
    border-top-color: green;
}

.iidentity-profile-wrapper.iidentity-faction-resistance {
    border-top-color: blue;
}

.iidentity-profile-wrapper.iidentity-faction-error {
    border-top-color: red;
}

.iidentity-profile-wrapper.iidentity-faction-unknown {
    border-top-color: #222;
}
