.manifest > .remove {
    margin-left: 1em;
}

.faction-enlightened {
    color: green;
}

.faction-enlightened > a {
    color: green;
}

.faction-resistance {
    color: blue;
}

.faction-enlightened > a,
.faction-resistance > a {
    font-weight: bold;
}

p {
    text-align: justify;
}

p.error {
    color: red;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

span.tt {
    font-family: "Lucida Console", Monaco, monospace;
}

@media (min-width: 992px) {
    body > .background {
        background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../img/logo/ingress.png) no-repeat top left;
        background-size: 50% auto;
        position: fixed;
        z-index: -1;
        margin-top: 2em;

        width: 100%;
        height: 100%;
    }
}
