# users don't need READMEs or LICENSEs
*.md           export-ignore

# no need for those in the archive
.gitignore     export-ignore
.gitattributes export-ignore

# we don't use this svg file!
img/logo/ingress.svg    export-ignore

# skip the release script as well
release.fish   export-ignore
