{
    "manifest_version": 2,

    "name": "Ingress Identity",
    "version": "0.3.0",
    "description": "Adds Ingress identity to G+ profiles",
    "icons": {
        "16":  "img/logo/16.png",
        "48":  "img/logo/48.png",
        "128": "img/logo/128.png"
    },

    "permissions": [ "storage" ],
    "optional_permissions": [ "tabs", "https://*.google.com/*" ],

    "background": {
       "page": "background.html"
    },

    "options_page": "options.html",

    "content_security_policy": "script-src 'self' https://www.google.com https://spreadsheets.google.com https://docs.google.com; object-src 'self'",
    "content_scripts": [
        {
            "matches": [ "https://plus.google.com/*" ],
            "run_at": "document_end",
            "css": [ "css/content.css" ],
            "js": [ "vendor/js/jquery.min.js", "js/content.js" ]
        }
    ],

    "web_accessible_resources": [
        "img/anomalies/13magnus.png",
        "img/anomalies/recursion.png",
        "img/anomalies/interitus.png"
    ]
}
