{
    # manifest information:
    extName:
        message: 'IngressIdentity'
        description: 'The extension name'
    extDevName:
        message: 'IngressIdentity - dev'
        description: 'The extension name in development builds'
    extDescription:
        message: 'Adds Ingress identity to G+ profiles'
        description: 'The extension description'
    extBrowserAction:
        message: 'IngressIdentity Options'
        description: 'The tooltip for the broser action button that opens the options page'

    # Content script stuff
    content_profileTitle:
        message: 'Ingress Agent Profile'
        description: 'The title for the panel on user profiles\' about pages'
    content_anomalies:
        message: 'Anomalies'
        description: 'The plural of anomaly'
    content_agentName:
        message: 'Agent Name'
        description: 'Title to denote the agent name'
    content_level:
        message: 'Level'
        description: 'the word "level"'
    content_levelValue:
        message: 'L{value}'
        description: 'How the level is shown (L1, L2, ... L16 in English)'
    content_faction:
        message: 'Faction'
        description: 'the word "faction"'
    content_enlightened:
        message: 'Enlightened'
        description: 'The name of the enlightened faction'
    content_resistance:
        message: 'Resistance'
        description: 'The name of the resistance faction'
    content_communities:
        message: 'Communities'
        description: 'The plural of community'
    content_events:
        message: 'Events'
        description: 'The plural of the singular of events'
    content_errors:
        message: 'Errors'
        description: 'The plural of error'
    content_sourceFiles:
        message: 'IngressIdentity Source Files'
        description: 'The header of the source file section in events and communities'

    # Options page
    options_title:
        message: 'IngressIdentity Options'
        description: 'The title of the options page'
    options_help:
        message: 'Help'
        description: 'The word help'
    options_intro:
        message: 'This options page allows you to configure the manifests to use when identifying people on G+. It also provides some tools to help acquiring data to put in manifest files or source files.'
        description: 'The options page general introduction'
    options_success:
        message: 'Success!'
        description: 'Message to show when something went right'
    options_warning:
        message: 'Warning!'
        description: 'Message to show when something went wrong, but not too wrong to function'
    options_error:
        message: 'Error!'
        description: 'Message to show when something went horribly wrong'
    options_reload_success:
        message: 'The data was successfully reloaded.'
        description: ''
    options_reload_failed:
        message: 'Something went wrong when reloading the data.'
        description: ''
    options_add_success:
        message: 'The manifest file was successfully added.'
        description: ''
    options_add_duplicate:
        message: 'The given manifest is already loaded.'
        description: ''
    options_add_failed:
        message: 'Something went wrong when adding the manifest.'
        description: ''
    options_remove_success:
        message: 'The manifest file was successfully removed.'
        description: ''
    options_remove_nonexisting:
        message: 'The given manifest was not loaded.'
        description: ''
    options_remove_failed:
        message: 'Something went wrong when removing the manifest.'
        description: ''
    options_reorder_success:
        message: 'The order was successfully changed.'
        description: ''
    options_reorder_failed:
        message: 'Something went wrong when changing the order.'
        description: ''
    options_rename_success:
        message: 'The manifest was successfully renamed.'
        description: ''
    options_rename_failed:
        message: 'Something went wrong when renaming the manifest.'
        description: ''
    options_data_sources:
        message: 'Data Sources'
        description: 'Data Sources title'
    options_force_reload:
        message: 'Force reload'
        description: 'Text for the button to reload the manifests'
    options_loading_data:
        message: 'Loading the data&hellip;'
        description: 'Text shown if the data hasn\'t been loaded yet.'
    options_manifest_add_title:
        message: 'Add a new manifest'
        description: 'Section title'
    options_manifest_key_label:
        message: 'Manifest Key'
        description: 'Label for the input for manifest keys.'
    options_manifest_key_help:
        message: 'For more information about where to find the manifest key, please take a look at <a target="_blank" href="help.html#key">the help page</a>.'
        description: 'Help text for the input for manifest keys.'
    options_manifest_name_label:
        message: 'Manifest Name'
        description: 'Label for the input for manifest names.'
    options_manifest_name_help:
        message: '<em>Optional</em>. A human-readable name for your manifest.'
        description: 'Help text for the input for manifest names.'
    options_manifest_add_button:
        message: '<span class="glyphicon glyphicon-plus"></span> Add manifest'
        description: 'The content of the button that performs the action.'
    options_manifest_example_intro:
        message: 'If you want to see an example of a manifest file, add manifest key'
        description: 'Text above the link to the example manifest.'
    options_manifest_example_outro:
        message: 'Then take a look at <a target="_blank" href="https://plus.google.com/+NianticProject/posts/eTDoXUG8TkB"> this post by the Niantic Project</a> or <a target="_blank" href="https://plus.google.com/110350977702120778591/posts/GH32VJw1fhA"> this post by Klue/ADA</a>.'
        description: 'Text below the link to the example manifest.'
    options_settings_title:
        message: 'Settings'
        description: 'Title of the settings section.'
    options_settings_intro:
        message: 'This section contains some settings for the extension.'
        description: 'Intro text to the settings section.'
    options_layout_options_title:
        message: 'Layout Options'
        description: 'Title of the layout settings subsection.'
    options_layout_options_intro:
        message: 'This subsection contains a couple of layout tweaks.'
        description: 'Intro to the layout settings subsection.'
    options_settings_enable_anomalies:
        message: 'Show anomaly badges'
        description: 'One of the settings.'
    options_settings_match_popups:
        message: 'Match profile pop-ups.'
        description: 'One of the settings.'
    options_settings_match_authors:
        message: 'Match authors of posts and comments, event RSVP, event creator etc.'
        description: 'One of the settings.'
    options_settings_match_mentions:
        message: 'Match mentions in posts.'
        description: 'One of the settings.'
    options_settings_match_people:
        message: 'Match people in the \'In common with you\', \'In his/her circles\' or \'Have him/her in circles\' sections.'
        description: 'One of the settings.'
    options_settings_extra_event:
        message: 'Show links to the source spreadsheets linked to an event on the page of that event.'
        description: 'One of the settings.'
    options_settings_extra_community:
        message: 'Show links to the source spreadsheets linked to a community on the page of that community.'
        description: 'One of the settings.'
    options_about_title:
        message: 'About'
        description: 'Title of the section containing info about the extension.'
    options_about_text:
        message: 'This extension is written and maintained by <a target="_blank" href="https://github.com/bgotink">Bram Gotink</a>. The code is &copy; 2014 Bram Gotink, licensed under the terms of the <a target="_blank" href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a>. The source of this project can be found on <a target="_blank" href="https://github.com/bgotink/IngressIdentity">GitHub</a>.'
        description: 'Text of the section containing info about the extension.'
    options_ack_title:
        message: 'Acknowledgements'
        description: 'Title of the acknowledgements section.'
    options_ack_text:
        message: 'This project uses code by <a target="_blank" href="https://jquery.org/">jQuery</a>, <a target="_blank" href="http://sugarjs.com/">Sugar.js</a> and <a target="_blank" href="https://github.com/twbs/bootstrap">Twitter\'s Bootstrap</a>. The logo is derived from the ingress logos created by <a target="_blank" href="https://github.com/cr0ybot/ingress-logos">cr0ybot</a>.'
        description: 'Text of the acknowledgements section.'
    options_bug_title:
        message: 'Bug Report / Feature Request'
        description: 'Title of the bug section.'
    options_bug_text:
        message: 'If you\'ve found a bug or have an idea for a killer feature, feel free to let us know <a target="_blank" href="https://github.com/bgotink/IngressIdentity/issues">here</a> if you have a GitHub account or using the feedback feature in the Chrome Web Store found <a target="_blank" href="https://chrome.google.com/webstore/support/pjhgnhcijlkffbncjecmcdpndjckcbik">here</a>.'
        description: 'Text of the bug section.'
    options_disclaimer_title:
        message: 'Disclaimer'
        description: 'Title of the disclaimer section.'
    options_disclaimer_text:
        message: 'The extension and its author(s) are in no way affiliated with Ingress, Google or NianticLabs@Google. This extension merely serves as third-party tool to support Ingress players and their communities living on Google+.'
        description: 'Text of the disclaimer section.'
    options_empty_1:
        message: 'No manifests loaded right now, try adding some!'
        description: 'Part 1 of the text shown when no manifests haven\'t been added yet.'
    options_empty_2:
        message: 'If you have just reloaded the extension, the manifests will automatically be shown here when the data is ready.'
        description: 'Part 2 of the text shown when no manifests haven\'t been added yet.'
    options_empty_3:
        message: 'If you believe this is in error, try reloading this page or pressing "Force reload".'
        description: 'Part 3 of the text shown when no manifests haven\'t been added yet.'
    options_manifest_info:
        message: 'Faction: {faction}, {count} players, version {version}'
        description: 'Information shown about the manifests.'
    options_rename:
        message: 'Rename'
        description: 'Tooltip for the rename button.'
    options_remove:
        message: 'Remove'
        description: 'Tooltip for the remove button.'
    options_enabled:
        message: 'Enabled'
        description: 'The text on the button for an option that has been enabled by the user.'
    options_disabled:
        message: 'Disabled'
        description: 'The text on the button for an option that has been disabled by the user.'
    options_no_script:
        message: 'Please close this tab and re-open it by clicking the action button.'
        description: 'Message shown in the options page if it needs to be re-opened in firefox.'

    # Export page
    export_title:
        message: 'IngressIdentity Data Exporter'
        description: 'Title of the export page'
    export_intro:
        message: 'This page tries to fetch Ingress agent data from a Google+ community. You can modify it before exporting it to a Google Drive Spreadsheet.'
        description: 'The intro for the export page.'
    export_options_title:
        message: 'Options'
        description: 'The word "Options".'
    export_options_intro:
        message: 'The following buttons allow you to enable some features for the exporter:'
        description: 'Intro text for the options section of the export page.'
    export_enabled:
        message: 'Enabled'
        description: 'The text on the button for an option that has been enabled by the user.'
    export_disabled:
        message: 'Disabled'
        description: 'The text on the button for an option that has been disabled by the user.'
    export_option_extract_name:
        message: 'Try to extract agent name from the Google+ name if unknown.'
        description: 'One of the options.'
    export_option_remove_existing:
        message: 'Filter out existing entries for this community.'
        description: 'One of the options.'
    export_option_add_header:
        message: 'Add a header and dummy row to the exported data. Note that the table below always shows a header.'
        description: 'One of the options.'
    export_result_title:
        message: 'Result'
        description: 'The title for the result section.'
    export_copy_button:
        message: 'Copy'
        description: 'The text for the copy button.'
    export_copy_text:
        message: 'Press this button to copy the data to the clipboard, then paste it in a Google Drive Spreadsheet.'
        description: 'An explanatory text next to the copy button.'
    export_modal_pe_title:
        message: 'Parsing and exporting data&hellip;'
        description: 'Title for the modal used when parsing and exporting.'
    export_modal_e_title:
        message: 'Exporting data&hellip;'
        description: 'Title for the modal used when only exporting.'
    export_modal_p_subtitle:
        message: 'Parsing:'
        description: 'Subtitle for parsing'
    export_modal_e_subtitle:
        message: 'Exporting:'
        description: 'Subtitle for exporting'
    export_progress:
        message: '<span class="percent"></span>% complete'
        description: 'The "<span class="percent"></span>" part will contain a number.'
    export_warning:
        message: 'Warning!'
        description: 'The word "warning"'
    export_warning_all_members:
        message: 'You haven\'t loaded all players in the community. This exporter can only export the members that are shown on the page. You\'ll have to scroll down completely before opening the exporter.'
        description: 'Warning shown when not all members have been loaded.'
}
