{
    # manifest information:
    extName:
        message: 'IngressIdentity'
        description: 'The extension name'
    extDevName:
        message: 'IngressIdentity - dev'
        description: 'The extension name in development builds'
    extDescription:
        message: 'Adds Ingress identity to G+ profiles'
        description: 'The extension description'
    extBrowserAction:
        message: 'IngressIdentity Options'
        description: 'The tooltip for the broser action button that opens the options page'

    # Content script stuff
    content_profileTitle:
        message: 'Ingress Agent Profile'
        description: 'The title for the panel on user profiles\' about pages'
    content_anomalies:
        message: 'Anomalies'
        description: 'The plural of anomaly'
    content_agentName:
        message: 'Agent Name'
        description: 'Title to denote the agent name'
    content_level:
        message: 'Level'
        description: 'the word "level"'
    content_levelValue:
        message: 'L{value}'
        description: 'How the level is shown (L1, L2, ... L16 in English)'
    content_faction:
        message: 'Faction'
        description: 'the word "faction"'
    content_enlightened:
        message: 'Enlightened'
        description: 'The name of the enlightened faction'
    content_resistance:
        message: 'Resistance'
        description: 'The name of the resistance faction'
    content_communities:
        message: 'Communities'
        description: 'The plural of community'
    content_events:
        message: 'Events'
        description: 'The plural of the singular of events'
    content_errors:
        message: 'Errors'
        description: 'The plural of error'
    content_sourceFiles:
        message: 'IngressIdentity Source Files'
        description: 'The header of the source file section in events and communities'

    # Options page
    options_title:
        message: 'IngressIdentity Options'
        description: 'The title of the options page'
    options_help:
        message: 'Help'
        description: 'The word help'
    options_intro:
        message: 'This options page allows you to configure the manifests to use when identifying people on G+. It also provides some tools to help acquiring data to put in manifest files or source files.'
        description: 'The options page general introduction'
    options_success:
        message: 'Success!'
        description: 'Message to show when something went right'
    options_warning:
        message: 'Warning!'
        description: 'Message to show when something went wrong, but not too wrong to function'
    options_error:
        message: 'Error!'
        description: 'Message to show when something went horribly wrong'
    options_reload_success:
        message: 'The data was successfully reloaded.'
        description: ''
    options_reload_failed:
        message: 'Something went wrong when reloading the data.'
        description: ''
    options_add_success:
        message: 'The manifest file was successfully added.'
        description: ''
    options_add_duplicate:
        message: 'The given manifest is already loaded.'
        description: ''
    options_add_failed:
        message: 'Something went wrong when adding the manifest.'
        description: ''
    options_remove_success:
        message: 'The manifest file was successfully removed.'
        description: ''
    options_remove_nonexisting:
        message: 'The given manifest was not loaded.'
        description: ''
    options_remove_failed:
        message: 'Something went wrong when removing the manifest.'
        description: ''
    options_reorder_success:
        message: 'The order was successfully changed.'
        description: ''
    options_reorder_failed:
        message: 'Something went wrong when changing the order.'
        description: ''
    options_rename_success:
        message: 'The manifest was successfully renamed.'
        description: ''
    options_rename_failed:
        message: 'Something went wrong when renaming the manifest.'
        description: ''
    options_data_sources:
        message: 'Data Sources'
        description: 'Data Sources title'
    options_force_reload:
        message: 'Force reload'
        description: 'Text for the button to reload the manifests'

    # Export page
    export_title:
        message: 'IngressIdentity Data Exporter'
        description: 'Title of the export page'
    export_intro:
        message: 'This page tries to fetch Ingress agent data from a Google+ community. You can modify it before exporting it to a Google Drive Spreadsheet.'
        description: 'The intro for the export page.'
    export_options_title:
        message: 'Options'
        description: 'The word "Options".'
    export_options_intro:
        message: 'The following buttons allow you to enable some features for the exporter:'
        description: 'Intro text for the options section of the export page.'
    export_enabled:
        message: 'Enabled'
        description: 'The text on the button for an option that has been enabled by the user.'
    export_disabled:
        message: 'Disabled'
        description: 'The text on the button for an option that has been disabled by the user.'
    export_option_extract_name:
        message: 'Try to extract agent name from the Google+ name if unknown.'
        description: 'One of the options.'
    export_option_remove_existing:
        message: 'Filter out existing entries for this community.'
        description: 'One of the options.'
    export_option_add_header:
        message: 'Add a header and dummy row to the exported data. Note that the table below always shows a header.'
        description: 'One of the options.'
    export_result_title:
        message: 'Result'
        description: 'The title for the result section.'
    export_copy_button:
        message: 'Copy'
        description: 'The text for the copy button.'
    export_copy_text:
        message: 'Press this button to copy the data to the clipboard, then paste it in a Google Drive Spreadsheet.'
        description: 'An explanatory text next to the copy button.'
    export_modal_pe_title:
        message: 'Parsing and exporting data&hellip;'
        description: 'Title for the modal used when parsing and exporting.'
    export_modal_e_title:
        message: 'Exporting data&hellip;'
        description: 'Title for the modal used when only exporting.'
    export_modal_p_subtitle:
        message: 'Parsing:'
        description: 'Subtitle for parsing'
    export_modal_e_subtitle:
        message: 'Exporting:'
        description: 'Subtitle for exporting'
    export_progress:
        message: '<span class="percent"></span>% complete'
        description: 'The "<span class="percent"></span>" part will contain a number.'
}
