{
    # manifest information:
    extName:
        message: 'IngressIdentiteit'
        description: 'The extension name'
    extDevName:
        message: 'IngressIdentiteit - dev'
        description: 'The extension name in development builds'
    extDescription:
        message: 'Voegt Ingress identiteit toe op G+ profielen'
        description: 'The extension description'
    extBrowserAction:
        message: 'IngressIdentiteit Opties'
        description: 'The tooltip for the broser action button that opens the options page'

    # Content script stuff
    content_profileTitle:
        message: 'Ingress Agent Profiel'
        description: 'The title for the panel on user profiles\' about pages'
    content_anomalies:
        message: 'Anomalieën'
        description: 'The plural of anomaly'
    content_agentName:
        message: 'Agent Naam'
        description: 'Title to denote the agent name'
    content_level:
        message: 'Level'
        description: 'the word "level"'
    content_levelValue:
        message: 'L{value}'
        description: 'How the level is shown (L1, L2, ... L16 in English)'
    content_faction:
        message: 'Factie'
        description: 'the word "faction"'
    search_faction_all:
        message: 'All'
        description: 'The label for selecting all factions.'
    content_enlightened:
        message: 'Enlightened'
        description: 'The name of the enlightened faction'
    content_resistance:
        message: 'Resistance'
        description: 'The name of the resistance faction'
    content_unknown:
        message: 'Ongekend'
        description: 'The name of the "unknown" faction'
    content_error:
        message: 'Fout'
        description: 'The name of the "error" faction'
    content_communities:
        message: 'Communities'
        description: 'The plural of community'
    content_events:
        message: 'Events'
        description: 'The plural of the singular of events'
    content_errors:
        message: 'Fouten'
        description: 'The plural of error'
    content_sourceFiles:
        message: 'IngressIdentiteit Bronbestanden'
        description: 'The header of the source file section in events and communities'

    # Options page
    options_title:
        message: 'IngressIdentiteit Opties'
        description: 'The title of the options page'
    options_help:
        message: 'Help'
        description: 'The word help'
    options_intro:
        message: 'Deze optiespagina laat je toe in te stellen welke manifesten worden ingeladen om spelers te herkennen op G+.'
        description: 'The options page general introduction'
    options_success:
        message: 'Gelukt!'
        description: 'Message to show when something went right'
    options_warning:
        message: 'Waarschuwing!'
        description: 'Message to show when something went wrong, but not too wrong to function'
    options_error:
        message: 'Fout!'
        description: 'Message to show when something went horribly wrong'
    options_reload_success:
        message: 'De data werd succesvol herladen.'
        description: ''
    options_reload_failed:
        message: 'Er liep iets mis bij het herladen van de data.'
        description: ''
    options_add_success:
        message: 'Het manifest werd succesvol toegevoegd.'
        description: ''
    options_add_duplicate:
        message: 'Het manifest was reeds toegevoegd.'
        description: ''
    options_add_failed:
        message: 'Er liep iets mis bij het toevoegen van het manifest.'
        description: ''
    options_remove_success:
        message: 'Het manifest werd succesvol verwijderd.'
        description: ''
    options_remove_nonexisting:
        message: 'Het manifest was niet ingeladen.'
        description: ''
    options_remove_failed:
        message: 'Er liep iets mis bij het herladen van het manifest.'
        description: ''
    options_reorder_success:
        message: 'De volgorde werd succesvol veranderd.'
        description: ''
    options_reorder_failed:
        message: 'Er liep iets mis bij het veranderen van de volgorde.'
        description: ''
    options_rename_success:
        message: 'Het manifest werd succesvol hernoemd.'
        description: ''
    options_rename_failed:
        message: 'Er liep iets mis bij het hernoemen van het manifest.'
        description: ''
    options_data_sources:
        message: 'Data Bronnen'
        description: 'Data Sources title'
    options_force_reload:
        message: 'Herlaad'
        description: 'Text for the button to reload the manifests'
    options_loading_data:
        message: 'De data wordt ingeladen&hellip;'
        description: 'Text shown if the data hasn\'t been loaded yet.'
    options_manifest_add_title:
        message: 'Nieuw manifest toevoegen'
        description: 'Section title'
    options_manifest_key_label:
        message: 'Manifest Sleutel'
        description: 'Label for the input for manifest keys.'
    options_manifest_key_help:
        message: 'Voor meer informatie over waar je de manifest sleutel kan terugvinden, neem je best een kijkje op <a target="_blank" href="docs/options.html">de help pagina</a>.'
        description: 'Help text for the input for manifest keys.'
    options_manifest_name_label:
        message: 'Manifest Naam'
        description: 'Label for the input for manifest names.'
    options_manifest_name_help:
        message: '<em>Optioneel</em>. Een naam voor je manifest.'
        description: 'Help text for the input for manifest names.'
    options_manifest_add_button:
        message: '<span class="glyphicon glyphicon-plus"></span> Voeg het manifest toe'
        description: 'The content of the button that performs the action.'
    options_manifest_example_intro:
        message: 'Als je een voorbeeld manifest wil zien, voeg dan het manifest met sleutel'
        description: 'Text above the link to the example manifest.'
    options_manifest_example_outro:
        message: 'toe. Neem dan eens een kijkje naar <a target="_blank" href="https://plus.google.com/+NianticProject/posts/eTDoXUG8TkB"> deze post van het Niantic Project</a> of <a target="_blank" href="https://plus.google.com/110350977702120778591/posts/GH32VJw1fhA"> deze post van Klue/ADA</a>.'
        description: 'Text below the link to the example manifest.'
    options_matcher_options_title:
        message: 'Matcher Opties'
        description: 'Title of the matcher settings subsection.'
    options_matcher_options_intro:
        message: 'Deze subsectie laat toe de matcher in te stellen.'
        description: 'Intro to the matcher settings subsection.'
    options_settings_match_popups:
        message: 'Match profiel pop-ups.'
        description: 'One of the settings.'
    options_settings_match_authors:
        message: 'Match auteurs van posts en commentaren, evenement RSVP\'s, de makers van evenementen etc.'
        description: 'One of the settings.'
    options_settings_match_mentions:
        message: 'Match vermeldingen in posts.'
        description: 'One of the settings.'
    options_settings_match_people:
        message: 'Match mensen in de \'In common with you\', \'In his/her circles\' or \'Have him/her in circles\' secties.'
        description: 'One of the settings.'
    options_settings_match_gapi_comments:
        message: 'Match Google API commentaren (bvb. YouTube).'
        description: 'One of the settings.'
    options_settings_match_community_members:
        message: 'Match mensen in ledenlijsten van communities.'
        description: 'One of the settings.'
    options_settings_match_hangouts:
        message: 'Match Hangouts conversaties en ledenlijsten.'
        description: 'One of the settings.'
    options_display_options_title:
        message: 'Weergave Opties'
        description: 'Title of the matcher settings subsection.'
    options_display_options_intro:
        message: 'Deze subsectie bevat enkele weergave opties.'
        description: 'Intro to the matcher settings subsection.'
    options_settings_display_anomalies:
        message: 'Toon anomaly logo\'s.'
        description: 'One of the settings.'
    options_settings_display_export:
        message: 'Toon een export-knop in communities'
        description: 'One of the settings.'
    options_settings_display_sources:
        message: 'Toon bronbestanden verbonden aan communities en evenementen.'
        description: 'One of the settings.'
    options_settings_display_hide_self:
        message: 'Verberg eigen data. Vul hieronder je OID in:'
        description: 'One of the settings.'
    options_save:
        message: 'Opslaan'
        description: 'Text on a button that saves stuff.'
    options_about_title:
        message: 'Over'
        description: 'Title of the section containing info about the extension.'
    options_about_text:
        message: 'Deze extensie werd geschreven en onderhouden door <a target="_blank" href="https://github.com/bgotink">Bram Gotink</a>. De code is &copy; 2014 Bram Gotink, gelicensieerd onder de termen van de <a target="_blank" href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a>. De broncode van dit project kan je terugvinden op <a target="_blank" href="https://github.com/bgotink/IngressIdentity">GitHub</a>.'
        description: 'Text of the section containing info about the extension.'
    options_ack_title:
        message: 'Acknowledgements'
        description: 'Title of the acknowledgements section.'
    options_ack_text:
        message: 'Dit project gebruikt code van <a target="_blank" href="https://jquery.org/">jQuery</a>, <a target="_blank" href="http://sugarjs.com/">Sugar.js</a> en <a target="_blank" href="https://github.com/twbs/bootstrap">Twitters Bootstrap</a>. Het logo is afgeleid van het ingress logo gecreëerd door <a target="_blank" href="https://github.com/cr0ybot/ingress-logos">cr0ybot</a>.'
        description: 'Text of the acknowledgements section.'
    options_bug_title:
        message: 'Bug Report / Feature Request'
        description: 'Title of the bug section.'
    options_bug_text:
        message: 'Als je een fout gevonden hebt, of een idee hebt voor een killer feature, kan je dat gerust <a target="_blank" href="https://github.com/bgotink/IngressIdentity/issues">hier</a> melden als je een GitHub account hebt, anders via de feedback knop in de Chrome Web Store <a target="_blank" href="https://chrome.google.com/webstore/support/pjhgnhcijlkffbncjecmcdpndjckcbik">hier</a>.'
        description: 'Text of the bug section.'
    options_disclaimer_title:
        message: 'Disclaimer'
        description: 'Title of the disclaimer section.'
    options_disclaimer_text:
        message: 'Deze extensie en zijn auteur(s) zijn in geen enkele wijze geaffilieerd met Ingress, Google of NianticLabs@Google. Deze extensie dient er enkel toe Ingress spelers en hun communities op Google+ te ondersteunen.'
        description: 'Text of the disclaimer section.'
    options_empty_1:
        message: 'Er zijn geen manifesten ingeladen. Voeg er gerust een toe!'
        description: 'Part 1 of the text shown when no manifests haven\'t been added yet.'
    options_empty_2:
        message: 'Als de extensie net ingeladen is, kan het eventjes duren eer alle manifesten zijn ingeladen. De data wordt automatisch hier getoond wanneer alles gedaan is.'
        description: 'Part 2 of the text shown when no manifests haven\'t been added yet.'
    options_empty_3:
        message: 'Als je denkt dat je dit bericht niet zou mogen zien, kan je de pagina herladen of op "Herlaad" duwen.'
        description: 'Part 3 of the text shown when no manifests haven\'t been added yet.'
    options_manifest_info:
        message: 'Factie: {faction}, {count} spelers, versie {version}'
        description: 'Information shown about the manifests.'
    options_view:
        message: 'Bekijken'
        description: 'Tooltip for the view button.'
    options_rename:
        message: 'Hernoem'
        description: 'Tooltip for the rename button.'
    options_remove:
        message: 'Verwijder'
        description: 'Tooltip for the remove button.'
    options_enabled:
        message: 'Aangeschakeld'
        description: 'The text on the button for an option that has been enabled by the user.'
    options_disabled:
        message: 'Uitgeschakeld'
        description: 'The text on the button for an option that has been disabled by the user.'
    options_no_script:
        message: 'Gelieve deze tab te sluiten en deze pagina te heropenen door op de action button te klikken.'
        description: 'Message shown in the options page if it needs to be re-opened in firefox.'
    options_search_title:
        message: 'Zoeken'
        description: 'The "Search" section'
    options_search_intro:
        message: 'De <a href="search.html">zoekpagina</a> laat je toe te zoeken in de lijst met personen waar deze extensie gegevens over heeft. Het toont voor elke persoon de naam, agent naam, level, de anomalieën waar ze naartoe zijn geweest en welke bronbestanden informatie bevatten.'
        description: 'The intro for the "Search" section'

    # Export page
    export_title:
        message: 'IngressIdentiteit Data Exporteur'
        description: 'Title of the export page'
    export_intro:
        message: 'Deze pagina probeert Ingress agent informatie op te halen vanuit een Google+ community. Je kan de data nog wijzigen vooraleer ze naar een Google Drive spreadsheet te exporteren.'
        description: 'The intro for the export page.'
    export_options_title:
        message: 'Opties'
        description: 'The word "Options".'
    export_options_intro:
        message: 'De volgende knoppen laten je toe een aantal features van de exporteur aan/uit te schakelen:'
        description: 'Intro text for the options section of the export page.'
    export_enabled:
        message: 'Aangeschakeld'
        description: 'The text on the button for an option that has been enabled by the user.'
    export_disabled:
        message: 'Uitgeschakeld'
        description: 'The text on the button for an option that has been disabled by the user.'
    export_option_extract_name:
        message: 'Probeer agent namen uit de Google+ naam af te leiden indien de agent naam nog niet gekend is.'
        description: 'One of the options.'
    export_option_remove_existing:
        message: 'Toon enkel nieuwe agenten in deze community.'
        description: 'One of the options.'
    export_option_add_header:
        message: 'Voeg een hoofding en dummy rij toe aan de geëxporteerde data. Merk op dat de tabel hieronder altijd een hoofding toont.'
        description: 'One of the options.'
    export_result_title:
        message: 'Resultaat'
        description: 'The title for the result section.'
    export_copy_button:
        message: 'Kopieer'
        description: 'The text for the copy button.'
    export_copy_text:
        message: 'Duw op de knop om de data te kopiëren naar je plakbord. Plak ze dan in een Google Drive Spreadsheet.'
        description: 'An explanatory text next to the copy button.'
    export_modal_pe_title:
        message: 'Ontleden en exporteren van de data&hellip;'
        description: 'Title for the modal used when parsing and exporting.'
    export_modal_e_title:
        message: 'Exporteren van de data&hellip;'
        description: 'Title for the modal used when only exporting.'
    export_modal_p_subtitle:
        message: 'Ontleden:'
        description: 'Subtitle for parsing'
    export_modal_e_subtitle:
        message: 'Exporteren:'
        description: 'Subtitle for exporting'
    export_progress:
        message: '<span class="percent"></span>% klaar'
        description: 'The "<span class="percent"></span>" part will contain a number.'
    export_warning:
        message: 'Waarschuwing!'
        description: 'The word "warning"'
    export_warning_all_members:
        message: 'Niet alle spelers in de community zijn ingeladen. Deze exporteur kan enkel de leden exporteren die getoond worden op de pagina. Gelieve eerst volledig naar beneden te scrollen vooraleer je op de export-knop duwt.'
        description: 'Warning shown when not all members have been loaded.'

    search_title:
        message: 'IngressIdentiteit Zoeken'
        description: 'The title of the search page'
    search_intro:
        message: 'Deze pagina laat je toe te zoeken in de lijst met personen waar deze extensie gegevens over heeft. Het toont voor elke persoon de naam, agent naam, level, de anomalieën waar ze naartoe zijn geweest en welke bronbestanden informatie bevatten.'
        description: 'The intro of the search page'
    search_name:
        message: 'Naam'
        description: 'The label for the "Name" input'
    search_nickname:
        message: 'Agent Naam'
        description: 'The label for the "Agent Name" input'
    search_enable_extra:
        message: 'Extra zoekvelden inschakelen? Dit kan het zoeken significant vertragen!'
        description: 'The label for the checkbox that enables extra inputs.'
    search_faction:
        message: 'Factie'
        description: 'The label for the "Faction" input'
    search_faction_unknown:
        message: 'Ongekend'
        description: 'The label for the "Unknown" faction.'
    search_faction_enlightened:
        message: 'Enlightened'
        description: 'The label for the "Enlightened" faction.'
    search_faction_resistance:
        message: 'Resistance'
        description: 'The label for the "Resistance" faction.'
    search_faction_error:
        message: 'Fout'
        description: 'The label for the "Error" faction.'
    search_anomalies:
        message: 'Anomalieën'
        description: 'The label for the "Anomalies" input'
    search_search_button:
        message: '<span class="glyphicon glyphicon-search"></span> Search'
        description: 'The search button context.'
    search_results:
        message: 'Resultaten'
        description: 'The "Results" section'
    search_levelValue:
        message: 'L{value}'
        description: 'How the level is shown (L1, L2, ... L16 in English)'
    search_searching:
        message: 'Zoeken...'
        description: 'Title of the modal that shows the extension is searching.'
}
