include ./_mixins.jade
extends ./_layout.jade

block title
    title IngressIdentity Documentation

block content
    +row
        h1 IngressIdentity Documentation
        p.
            These pages contain information on how to use this browser extension,
            beit as user or as a manifest creator.
    +row
        h2 Using the extension
        p.
            This extension links ingress players with Google+ identities.
            It does that using data provided by its user. Yes, that's you.
        p.
            You provide the extension with information regarding a player's
            Google+ userid, their nickname, their level and even which anomalies
            they went to and in which Google+ communities they're active.
        p.
            For more information on how this data is provided to the extension,
            see the next section. The following pages help you use the extension:
        ul
            li
                a(href='./files.html') What is a manifest?
            li
                a(href='./options.html') The options page
            li
                a(href='./tools.html') Tools
    +row
        h2 Creating and maintaining a manifest
        ul
            li
                a(href='./files.html') What is a manifest?
                ul
                    li
                        a(href='./manifests.html') The manifest file format
                    li
                        a(href='./sources.html') The source file format
            li
                a(href='./export.html') The community exporter
            li
                a(href='./tools.html') Tools
    +row
        h2 License, acknowledgements, disclaimer
        p.
            This extension is written and maintained by <a target="_blank" href="https://github.com/bgotink">Bram Gotink</a>.
            The code is &copy; 2014 Bram Gotink, licensed under the terms of the <a target="_blank" href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a>.
            The source of this project can be found on <a target="_blank" href="https://github.com/bgotink/IngressIdentity">GitHub</a>.
        p.
            This project uses code by <a target="_blank" href="https://jquery.org/">jQuery</a>,
            <a target="_blank" href="http://sugarjs.com/">Sugar.js</a>
            and <a target="_blank" href="https://github.com/twbs/bootstrap">Twitter's Bootstrap</a>.
            The logo is derived from the ingress logos created by <a target="_blank" href="https://github.com/cr0ybot/ingress-logos">cr0ybot</a>.
        p.
            If you've found a bug or have an idea for a killer feature, feel
            free to let us know <a target="_blank" href="https://github.com/bgotink/IngressIdentity/issues">here</a>
            if you have a GitHub account or using the feedback feature in the
            Chrome Web Store found <a target="_blank" href="https://chrome.google.com/webstore/support/pjhgnhcijlkffbncjecmcdpndjckcbik">here</a>.
        p.
            The extension and its author(s) are in no way affiliated with
            Ingress, Google or NianticLabs@Google. This extension merely
            serves as third-party tool to support Ingress players and their
            communities living on Google+.
