---
layout: default
title: News &bull; IngressIdentity
scrollspy: true
---

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h1 id="top">
                <a name="top"></a>
                {% if paginator.page == 1 %}
                    IngressIdentity News
                {% else %}
                    IngressIdentity News - page {{ paginator.page }}
                {% endif %}
            </h1>

            {% for post in paginator.posts %}
            {%     assign postid = post.id | replace: '/', '-' %}
            {%     if post.layout == 'release' %}
                <h2 id="{{ postid }}">
                    <a name="{{ postid }}" href="{{ site.baseurl }}{{ post.url }}">
                        Release {{ post.title }}{% unless post.stable %} beta{% endunless %}
                    </a>
                </h2>
                <ul class="list-inline">
                    <li>{{ post.date | date_to_string }}</li>
                    <li><a href="https://github.com/bgotink/IngressIdentity/commit/{{ post.commit }}">{{ post.commit }}</a></li>
                    <li class="browsers">
                        {% for browser in post.browsers %}
                        <img class="browser" src="{{ site.baseurl }}/assets/img/browser/{{ browser }}.png">
                        {% endfor %}
                    </li>
                </ul>

                {{ post.content }}

            {%     else %}
                <h2 id="{{ postid }}">
                    <a name="{{ postid }}" href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h2>
                <ul class="list-inline">
                    <li>{{ post.date | date_to_string }}</li>
                </ul>
                {{ post.content }}
            {%     endif %}
            {% endfor %}

            <!-- Pagination -->
            <ul class="pager">
                {% if paginator.previous_page %}
                    <li class="previous">
                        <a href="{{ site.baseurl }}/news/{{ paginator.previous_page }}">
                {% else %}
                    <li class="previous disabled">
                        <a href="#">
                {% endif %}
                            &larr; Newer
                        </a>
                    </li>

                {% if paginator.next_page %}
                    <li class="next">
                        <a href="{{ site.baseurl }}/news/{{ paginator.next_page }}" class="next">
                {% else %}
                    <li class="next disabled">
                        <a class="next ">
                {% endif %}
                            Older &rarr;
                        </a>
                    </li>
            </ul>
        </div>

        <!-- side bar navigation -->
        <div class="col-md-2 hidden-xs hidden-sm hidden-print">
            <div class="help-nav">
                <ul class="nav">
                    {% for post in paginator.posts %}
                    <li>
                        <a href="#{{ post.id | replace: '/', '-' }}">
                            {{ post.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <a href="#top">Back to top</a>
            </div>
        </div>
    </div>
</div>
