@import 'general_background.less';

p.error {
    color: red;

    &:last-child {
        margin-bottom: 0;
    }
}

.manifest .buttons {
    > .remove,
    > .rename {
        margin-left: .2em;
    }
}

// drag and drop

#source_list .panel-heading {
    cursor: -webkit-grab;
}

.ui-sortable-placeholder {
    margin-bottom: 20px;
}

button + span,
.glyphicon + span,
.alert > strong + span {
    margin-left: 1ex;
}

// No more border-radius

.btn,
.panel {
    border-radius: 0px;
}

// Source colors

.source {
    &.faction-resistance,
    &.faction-enlightened {
        color: initial;

        > a {
            color: initial;
        }
    }

    &.faction-resistance {
        background-color: fade(@c_resistance, 10%);
    }

    &.faction-enlightened {
        background-color: fade(@c_enlightened, 10%);
    }
}
