@import 'general_background.less';

p.error {
    color: red;
}

.manifest .remove {
    margin-left: .2em;
}

// drag and drop

#source_list .panel-heading {
    cursor: -webkit-grab;
}

.ui-sortable-placeholder {
    margin-bottom: 20px;
}

button + span,
.glyphicon + span,
.alert > strong + span {
    margin-left: 1ex;
}
