@import 'general_background.less';

button + span,
.glyphicon + span,
.alert > strong + span {
    margin-left: 1ex;
}

.anomalies img {
    height: 1em;
}

.panel-resistance {
    border-color: #bce8f1;

    .panel-heading {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

.panel-enlightened {
    border-color: #d6e9c6;

    >.panel-heading {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
}

.anomalies, .level {
    margin-left: 2.5em;
}
