{
    # manifest information:
    extName:
        message: 'IngressIdentity'
        description: 'The extension name'
    extDevName:
        message: 'IngressIdentity - dev'
        description: 'The extension name in development builds'
    extDescription:
        message: 'Adds Ingress identity to G+ profiles'
        description: 'The extension description'
    extBrowserAction:
        message: 'IngressIdentity Options'
        description: 'The tooltip for the broser action button that opens the options page'

    # Content script stuff
    content_profileTitle:
        message: 'Ingress Agent Profile'
        description: 'The title for the panel on user profiles\' about pages'
    content_anomalies:
        message: 'Anomalies'
        description: 'The plural of anomaly'
    content_agentName:
        message: 'Agent Name'
        description: 'Title to denote the agent name'
    content_level:
        message: 'Level'
        description: 'the word "level"'
    content_levelValue:
        message: 'L{value}'
        description: 'How the level is shown (L1, L2, ... L16 in English)'
    content_faction:
        message: 'Faction'
        description: 'the word "faction"'
    content_enlightened:
        message: 'Enlightened'
        description: 'The name of the enlightened faction'
    content_resistance:
        message: 'Resistance'
        description: 'The name of the resistance faction'
    content_communities:
        message: 'Communities'
        description: 'The plural of community'
    content_events:
        message: 'Events'
        description: 'The plural of the singular of events'
    content_errors:
        message: 'Errors'
        description: 'The plural of error'
    content_sourceFiles:
        message: 'IngressIdentity Source Files'
        description: 'The header of the source file section in events and communities'

    # Options page
    options_title:
        message: 'IngressIdentity Options'
        description: 'The title of the options page'
    options_help:
        message: 'Help'
        description: 'The word help'
    options_intro:
        message: 'This options page allows you to configure the manifests to use when identifying people on G+. It also provides some tools to help acquiring data to put in manifest files or source files.'
        description: 'The options page general introduction'
}
