include ./_mixins

doctype html
html
    head
        title IngressIdentity Background Page

        // jQuery and Sugar
        +js_lib('jquery')
        +js_lib('sugar')

        // Our JS
        +js('background')
    body
